<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INFO3180 Flask App - Lab 1</title>
    <link rel="stylesheet" href="/static/css/app.css">
  </head>
  <body>
    <div class="container">
      <h1>Love Lost</h1>
      <p>I've Watched my Grandfather Mourn the Last of his Coffee.<br/>The Last Scoop.<br/>The Kettle Over a Medium Flame.<br/> Slow to Boil.<br/>He Watched the Water.<br/>He Sighed.<br/>The Weekly Funeral Procession.<br/> Taking the last of the Bottle to it's Murky Grave.<br/>He Sipped It's Eulogy.<br/>But Remained Strong. <br/>He Never Cried. <br/>Never. <br/><br/>A Lost Love.</p>
    </div>
  </body>
</html>
